<html>

<head>
    <title>App</title>
    <link rel="stylesheet" type="text/css" href="/assets/styles.css" />
</head>

<body>
    <h1>App</h1>
    <%- include components/header.ejs %>
    Hi <%= name %>
</body>

</html>